!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/codemirror-compressed.js')
    script(type='text/javascript', src='/javascripts/modes/lua.js')
    script(type='text/javascript', src='/javascripts/node-lua.js')
  body!= body
